<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing for QTrip">
    <test name="Test Execution using testng">
        <classes>
            <class name="Seleniumpractice.tests.Baseclass"></class>
<!--            <class name="Seleniumpractice.tests.Basic_Commands"/>-->
<!--            <class name="Seleniumpractice.tests.Webdrivercommand"></class>-->
<!--            <class name="Seleniumpractice.tests.Webtables"></class>-->
<!--&lt;!&ndash;            <class name="Seleniumpractice.tests.ButtonsPractices"></class>&ndash;&gt;-->
<!--            <class name="Seleniumpractice.tests.Linktext"></class>-->
<!--            <class name="Seleniumpractice.tests.BrokenLinks"></class>-->
<!--            <class name="Seleniumpractice.tests.uploadsanddownloads"></class>-->
<!--            <class name="Seleniumpractice.tests.dynamicProperties"></class>-->
<!--            <class name="Seleniumpractice.tests.practiceForm"></class>-->
<!--            <class name="Seleniumpractice.tests.browserWindows"></class>-->
<!--            <class name="Seleniumpractice.tests.alerts"></class>-->
<!--            <class name="Seleniumpractice.tests.frames"></class>-->
<!--            <class name="Seleniumpractice.tests.nestedFrames"></class>-->
<!--            <class name="Seleniumpractice.tests.modalDialog"></class>-->
<!--            <class name="Seleniumpractice.tests.accordian"></class>-->
<!--            <class name="Seleniumpractice.tests.autoComplete"></class>-->
<!--            <class name="Seleniumpractice.tests.datePicker"></class>-->
<!--            <class name="Seleniumpractice.tests.slider"></class>-->
<!--            <class name="Seleniumpractice.tests.progressBar"></class>-->
<!--            <class name="Seleniumpractice.tests.tabs"></class>-->
<!--            <class name="Seleniumpractice.tests.toolTips"></class>-->
<!--            <class name="Seleniumpractice.tests.menu"></class>-->
<!--            <class name="Seleniumpractice.tests.selectMenu"></class>-->
<!--            <class name="Seleniumpractice.tests.sortable"></class>-->
<!--            <class name="Seleniumpractice.tests.selectable"></class>-->
<!--            <class name="Seleniumpractice.tests.resizable"></class>-->
<!--            <class name="Seleniumpractice.tests.droppable"></class>-->
            <class name="Seleniumpractice.tests.draggable"></class>

        </classes>
    </test>
</suite>